html, body {
    font-family: 'Rubik', sans-serif;
}

.logo-text {
    font-size: 1.2rem;
    color: #0c1e50;
}

.custom-bg-color {
    background-color: #387794 !important;
}

.hero-section {
    background-color:  #F6F6F6;
    min-height: 500px;
}

.hero-text {
    margin-top: 80px;
    padding: 0 3rem;
}

.hero-btn {
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #0c1e50;
    color: white;
}

.hero-text h5 {
    font-weight: lighter;
}

.icon-bar{
    height: 30px;
    width: 1px;
    background-color: #a39292;
}

.sidebar{
    min-height: 100vh !important;
    background-color: #0c1e50 !important;
}
.sidebar a{
    color: #5fbff9;
}


.sidebar .active{
    color: white;
}

.sidebar-title{
    border-bottom: 3px solid white;
    margin-top: 30px;
    margin-bottom: 30px;
}
.sidebar-title > p{
    color: white;
    font-size: 20px;
}

.nav-spacing{
    margin-left: 5px;
    margin-right: 5px;
}
body{
    background-color: #e7eaf0;
}

 /*.navbar{
    background-color: white !important;
    margin-top: 20px;
} */

.main-content{
    margin-top: 20px;
    background-color: rgb(201, 206, 233);
    border-radius: 12px;
}
.modal-content{
    background-color:  #0d2a79;
    border-radius: 30px;
}
.modal-header{
    color: white;
}
.form-control{
    border-radius: 30px;
}

.make-request {
    margin-top: 4rem;
    margin-bottom: 6rem;
}

.request-form-container {
    border: 1px solid #0c1e5044;
    border-radius: 5px;
    padding: 2rem;
}